* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    font-size: 1px;
}

.content {
    width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}



nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1px;
}


footer {
    height: 80px;
    margin-top: -80px;
    font-size: 1px;
    text-align: center;
    font-family: Comic sans MS, Impact, Arial, sans-serif;
}


body {
    background-color: #2C5A6A;
    background-image: linear-gradient(to left, #CBB26A, #2C5A6A);
    background-repeat: initial;
   /* overflow: scroll;*/
}


li {
    margin-left: 20px;
    list-style-type: circle;
}

.displays {
    display: inline-block;
}

li:hover {
    text-decoration: underline;
}

a {
    font-family: Comic sans MS, Impact, Arial, sans-serif;
    color: #CBB26A;
    text-decoration: none;
}

a:hover {
    color: #CBB26A;
}

.logo {
    width: 100px;
    height: 55px;
    border: 2px solid #CBB26A;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -10px;
}

.text {
    font-family: Comic sans MS, Impact, Arial, sans-serif;
    background-color: none;
    border: 3px solid none;
    text-align: left;
    padding: 10px;
    font-size: 1px;
}

.article {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.photo {
    width: 30%;
    height: 30%;
}

.article-image {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.article-content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

table {
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #CBB26A;
}

.language-selector {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    font-family: Comic sans MS, Impact, Arial, sans-serif;
}

.language-selector input {
    width: 0;
    height: 0;
}

.ukrainian {
    display: none;
}

.language-selector input+label {
    width: 70px;
    height: 50px;
    margin: 0;
    padding: .50rem 1rem;
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px #DDD;
    background-color: #CBB26A;
    font-size: 18rem;
    line-height: 230%;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
}

.language-selector input+label:first-of-type {
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.language-selector input+label:last-of-type {
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.language-selector input:checked+label {
    background-color: #3F7182;
    color: #FFF;
    box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
    border-color: #DDD;
    z-index: 1;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button[type=submit] {
    background-color: #2C5A6A;
    color: #CBB26A;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #CBB26A;
    color: #2C5A6A;
}

.contact-form {
    width: 100%;
    border-radius: 5px;
    background-color: #2C5A6A;
    background-image: linear-gradient(to left, #CBB26A, #2C5A6A);
    padding: 20px;
}

.placeholder {
    font-size: 1px;
    background-color: #CBB26A;
    border: 3px solid none;
}


#facebook {
    width: 4%;
    height: 4%;
    border: 2px solid #CBB26A;
    border-radius: 50%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#linkedin {
    width: 4%;
    height: 4%;
    border: 2px solid #CBB26A;
    border-radius: 50%;
    margin-right: 3%;
    margin-bottom: 10px;
}

#github {
    width: 3.6%;
    height: 3.6%;
    border: 2px solid #CBB26A;
    border-radius: 50%;
    margin-right: 3%;
    margin-bottom: 10px;
}

.table {
    font-size: 1px;
    font-family: Comic sans MS, Impact, Arial, sans-serif;
    padding: 10px;
}

@media (max-width: 767px) {
    nav {
        font-size: calc(24rem + 1vw);
    }

    p,
    .text {
        font-size: calc(15rem + 1vh);
    }

    .placeholder {
        font-size: calc(10rem + 1vh);
    }

    #facebook,
    #linkedin {
        width: 9%;
        height: 9%;
    }

    #github {
        width: 8.3%;
        height: 8.3%;
    }

    .table {
        font-size: calc(9rem + 1vh);
        padding: 2px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    nav {
        font-size: calc(28rem + 1vw);
    }

    p,
    .text,
    .table {
        font-size: calc(14rem + 1vh);
    }

    .placeholder {
        font-size: calc(8rem + 1vh);
    }

    #facebook,
    #linkedin {
        width: 5%;
        height: 5%;
    }

    #github {
        width: 4.5%;
        height: 4.5%;
    }
}

@media (min-width: 992px) {
    nav {
        font-size: calc(30rem + 1vw);
    }

    p,
    .text,
    .table {
        font-size: calc(13rem + 1vh);
    }

    .placeholder {
        font-size: calc(7rem + 1vh);
    }
}